name: Node Tunnel health check
on:
  schedule:
    - cron: "0 18 * * *"
  push:
    branches:
      - master
   
jobs:
  sonarqube-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: SonarQube Analysis
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  build:
   runs-on: ubuntu-latest
   env:
       LT_USERNAME: ${{ secrets.LT_USERNAME }} 
       LT_ACCESS_KEY: ${{ secrets.LT_ACCESS_KEY }}
   steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      
      - name: npm dependencies
        run: npm install
     
      - name: Install Mocha
        run: npm install -g mocha  
        
      - name: Run test
        run: npm run test
